/*
* @Author: Administrator
* @Date:   2018-08-15 11:11:25
* @Last Modified by:   Administrator
* @Last Modified time: 2018-08-15 11:11:25
*/
*{
	margin: 0;
	padding: 0;
}
p{
	width: 200px;
	height: 200px;
}
div{
	width: 100px;
	height: 100px;
	background-color: #fff;
}
h1{
	width: 100px;
}
h2{
	height: 100px;
}